* {
    margin: 0;
    padding: 0;
}

html {
    /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    background: white;
}

header {
    width: 670px;
    margin: 10px auto;
    text-align: center;
    color: #385A97
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    width: 50%;
    display: flex;
}
.lr {
    justify-content: flex-end;
    padding-right: 15px;
    background-color: #f4f4f4;
}
.fb {
    justify-content: flex-start;
    padding-left: 15px;
    background-color: #f4f4f4;
}

section > div {
    width: 320px;
    height: 500px;
}

.lr-box {
    background-color: #385A97;
}

.logo {
    width: 100%;
    height: 208px;
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-position: 30px 30px;
}

.address {
    width: 100%;
    height: 170px;
    background-color: white;
    padding-top: 50px;
    box-sizing: border-box;
}

.address > p {
    margin-left: 35px;
}

.phone {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.phone > p {
    margin: 63px 0 0 105px;
}

.fb-box {
    background-color: lightblue;
}

footer {
    width: 670px;
    margin: 25px auto;
}

footer > a {
    color: #385A97;
    font-style: italic;
    text-decoration: none;
    font-weight: 100;
    font-size: 0.7em;
}

footer > a > span {
    font-size: 1.1em;
}

footer > a:hover > span {
    color: orangered;
}